* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    text-align: center;
    margin: 32px;
}

.table-input {
    width: 100%;
    max-width: 1024px;
    margin: auto;
}

.table-input > tbody > tr:nth-child(odd) {
    background: #ccc;
}

.table-input > tbody > tr td:first-child {
    font-weight: 600;
    width: 30%;
    padding-left: 10%;
}

.table-input > tbody > tr td:last-child {
    padding-left: 8px;
}

.table-input input {
    width: 100%;
    height: 32px;
    padding-left: 8px;
    border-radius: 4px;
    border: 1px solid;
}

.table-input input:focus {
    border-color: var(--duet-color-primary);
    box-shadow: 0 0 0 1px var(--duet-color-primary);
    outline: 0;
}

.table-input > tbody > tr {
    height: 46px;
}

.btn-calculor {
    height: 32px;
    padding: 0 16px;
    border-radius: 2px;
    border: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    background-color: rgb(174, 73, 73);
    transition: all .2s ease;
}

.btn-calculor:hover {
    background-color: rgb(234, 40, 40);
}

.table-output {
    width: 96%;
    margin: 32px auto;
}

.table-output,
.table-output th,
.table-output td {
    border: 2px solid #555;
    border-collapse: collapse;
}

.table-output tr {
    height: 36px;
}

.table-output tr td {
    text-align: center;
}

.table-output tr:nth-child(odd) {
    background: #ddd;
}

.duet-date__input-wrapper input{
    font-family: monospace, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
    color: #000;
    font-weight: 500;
}